DFL_NODE_ID=node2
DFL_HOST=127.0.0.1
DFL_PORT=9102
DFL_EXPERIMENT_ID=secure_dfl_deployment
DFL_PEERS_JSON={"node0":"http://127.0.0.1:9100","node1":"http://127.0.0.1:9101"}
DFL_DATA_DIR=.runtime/node2
DFL_ADMIN_TOKEN=change-this-node-admin-token
DFL_PRIVATE_KEY_FILE=deployment_keys/nodes/node2_private_key.pem
DFL_TRUSTED_KEYS_FILE=deployment_keys/trusted_keys.json
DFL_SECURITY_MODE=none
DFL_MIN_PEER_UPDATES_TO_FINALIZE=2
